-- MySQL dump 10.13  Distrib 8.0.37, for Win64 (x86_64)
--
-- Host: localhost    Database: reading_tracker
-- ------------------------------------------------------
-- Server version	8.0.37

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `books`
--

DROP TABLE IF EXISTS `books`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `books` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `isbn` varchar(13) NOT NULL,
  `title` varchar(255) NOT NULL,
  `author` varchar(255) NOT NULL,
  `publisher` varchar(255) NOT NULL,
  `description` text,
  `cover_url` varchar(255) DEFAULT NULL,
  `total_pages` int DEFAULT NULL,
  `main_genre` varchar(50) DEFAULT NULL,
  `pub_date` date DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `isbn` (`isbn`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `books`
--

LOCK TABLES `books` WRITE;
/*!40000 ALTER TABLE `books` DISABLE KEYS */;
INSERT INTO `books` VALUES (2,'K482030732','?묐㈃??議곌컻猿띾뜲湲?,'源珥덉뿽 (吏???','?섎퉿?','2010?꾨? ?쒓뎅 SF??????궗瑜??쇰떎怨??됯?諛쏅뒗 ?묎? 源珥덉뿽???곕퇃 8??李⑤? 留욌뒗 2025???щ쫫 ?좎옉 ?뚯꽕吏??딆뼇硫댁쓽 議곌컻猿띾뜲湲겹뗫줈 ?곕━瑜?李얠븘?붾떎. ?대쾲 梨낆뿉???멸컙?깆쓽 蹂몄쭏??愿???ㅺ컖?곸쑝濡?吏덈Ц???섏???珥?7?몄쓽 以묐떒?몄냼?ㅼ씠 ?닿꼈??','https://image.aladin.co.kr/product/37024/77/coversum/k482030732_1.jpg',384,'援?궡?꾩꽌>?뚯꽕/???ш끝>怨쇳븰?뚯꽕(SF)>?쒓뎅 怨쇳븰?뚯꽕','2025-11-07','2025-11-07 18:21:18','2025-11-07 18:21:18'),(3,'K082733434','吏援??앹쓽 ?⑥떎','源珥덉뿽 (吏???','?먯씠?명듃遺곸뒪','源珥덉뿽 泥??ν렪?뚯꽕. ?롮슦由ш? 鍮쏆쓽 ?띾룄濡?媛????녿떎硫담륁쓣 ?듯빐 ?대? ??꼻? ?낆옄痢듭쓣 ?뺤꽦?섎ŉ ?대젹???щ옉??諛쏄퀬 ?덈뒗 源珥덉뿽 ?묎????붿뒪?몃줈 硫몃쭩???댄썑???멸퀎瑜?泥??ν렪?뚯꽕??臾대?濡??쇱븯??','https://image.aladin.co.kr/product/27692/63/coversum/s222930473_1.jpg',NULL,NULL,NULL,'2025-11-28 04:37:53','2025-11-28 04:37:53'),(4,'8932923418','轅踰뚯쓽 ?덉뼵 1','踰좊Ⅴ?섎Ⅴ 踰좊Ⅴ踰좊Ⅴ (吏???, ?꾨???(??릿??','?대┛梨낅뱾','轅踰뚯씠 ?щ씪吏怨??몃쪟 硫몄쥌???꾧린媛 ?μ튇 30???ㅼ쓽 吏援щ? 紐⑷꺽??瑜대꽕??誘몃옒瑜?諛붽씀湲??꾪빐 ?쒓났媛꾩쓣 ?섎굹?쒕뒗 紐⑦뿕???좊궃?? ?몃쪟瑜?援ы븷 諛⑸쾿???곹엺 怨좊????덉뼵??&lt;轅踰뚯쓽 ?덉뼵&gt;??李얠븘 怨쇨굅? 誘몃옒瑜??ㅺ???瑜대꽕? 洹??쇳뻾? 怨쇱뿰 ?덉뼵?쒕? 李얠븘 吏援щ? 援ы븷 ???덉쓣源?','https://image.aladin.co.kr/product/31877/64/coversum/8932923418_2.jpg',368,'援?궡?꾩꽌>?뚯꽕/???ш끝>怨쇳븰?뚯꽕(SF)>?멸뎅 怨쇳븰?뚯꽕',NULL,'2025-11-28 07:01:23','2025-11-28 07:01:23'),(5,'K322038064','????踰덉쓽 ??,'源?곹븯 (吏???','蹂듬났?쒓?','源?곹븯媛 ?곕Ц ?롫떒 ??踰덉쓽 ?뜰륁쓣 異쒓컙?덈떎. 60留?紐낆씠 ?섎뒗 ?낆옄???щ옉??諛쏆? ?롮뿬?됱쓽 ?댁쑀???댄썑 6??留뚯뿉 ?좊낫?대뒗 ?곕Ц吏묒쑝濡? ?좊즺 ?대찓??援щ룆 ?쒕퉬??\'?곹븯???좎뵪\'??2024???곗옱?섏뿀??湲??????섏젙?섍퀬 ?ㅻ벉??臾띠뿀?? \'?곹븯???좎뵪\'??珥덇린 援щ룆?먯쓽 珥덈?濡쒕쭔 媛?낆씠 媛?ν븳 ?쒕퉬?ㅻ줈 ?붿젣瑜?紐⑥쑝硫??곗옱 ?뱀떆 ?④굅???몄쓳???살뿀??','https://image.aladin.co.kr/product/36114/12/coversum/s602038067_1.jpg',NULL,NULL,NULL,'2025-11-28 08:45:38','2025-11-28 08:45:38'),(6,'K392630952','?щ윭援ы듃 轅?諛깊솕??- 二쇰Ц?섏떊 轅덉? 留ㅼ쭊?낅땲??,'?대???(吏???','?⑺넗由щ굹??,'?대????ν렪?뚯꽕. ?좊뱾?댁빞留??낆옣?????덈뒗 ?낇듅??留덉쓣. 洹멸납???ㅼ뼱???좊뱺 ?먮떂?ㅼ뿉寃?媛???멸린 ?덈뒗 怨녹?, ?④컰 轅덉쓣 ?쒕뜲 紐⑥븘 ?먮ℓ?섎뒗 \'?щ윭援ы듃??轅?諛깊솕??'?대떎. 湲??좎쓣 ?먮뒗 ?щ엺?ㅼ? 臾쇰줎?닿퀬, 吏㏃? ??옞???먮뒗 ?щ엺?ㅺ낵 ?숇Ъ?ㅻ줈 留ㅼ씪留ㅼ씪 ??깊솴???대，??','https://image.aladin.co.kr/product/24512/70/coversum/k392630952_2.jpg',300,'援?궡?꾩꽌>?뚯꽕/???ш끝>?먰?吏/?섏긽臾명븰>?쒓뎅?먰?吏/?섏긽?뚯꽕',NULL,'2025-11-29 08:47:43','2025-11-29 08:47:43'),(7,'K662930932','?뚮뀈???⑤떎 - 2024 ?몃꺼臾명븰???섏긽?묎?','?쒓컯 (吏???','李쎈퉬','?ъ꽭??媛먯닔?깃낵 移섎???臾몄옣?쇰줈 ?멸컙 議댁옱??蹂몄쭏???먭뎄?댁삩 ?묎? ?쒓컯???ъ꽢踰덉㎏ ?ν렪?뚯꽕. \'?곸쿂??援ъ“??????ъ떆? 泥쒖갑???쒖궗\'瑜??듯빐 ?쒓컯留뚯씠 ??대궪 ???덈뒗 諛⑹떇?쇰줈 1980??5?붿쓣 ?덈∼寃?議곕챸?쒕떎.','https://image.aladin.co.kr/product/4086/97/coversum/8936434128_2.jpg',216,'援?궡?꾩꽌>?뚯꽕/???ш끝>?쒓뎅?뚯꽕>2000?꾨? ?댄썑 ?쒓뎅?뚯꽕',NULL,'2025-11-29 09:26:19','2025-11-29 09:26:19'),(8,'8936434594','梨꾩떇二쇱쓽??(由щ쭏?ㅽ꽣?? - 2024 ?몃꺼臾명븰???섏긽?묎?','?쒓컯 (吏???','李쎈퉬','2016???명꽣?댁뀛??遺而ㅼ긽???섏긽?섎ŉ ?쒓뎅臾명븰???낆?瑜??쒕떒怨??뺤옣?쒗궓 ?쒓컯???ν렪?뚯꽕. ?곸쿂諛쏆? ?곹샎??怨좏넻怨??앸Ъ???곸긽?μ쓽 媛뺣젹??寃고빀???뺢탳??援ъ꽦怨??≪씤???덈뒗 臾몄껜濡?蹂댁뿬二쇰ŉ ?щ쑊???꾨쫫?ㅼ???誘명븰???쒓컯留뚯쓽 諛⑹떇?쇰줈 ?꾩꽦????옉?대떎.','https://image.aladin.co.kr/product/29137/2/coversum/8936434594_2.jpg',276,'援?궡?꾩꽌>?뚯꽕/???ш끝>?쒓뎅?뚯꽕>2000?꾨? ?댄썑 ?쒓뎅?뚯꽕',NULL,'2025-11-29 09:26:52','2025-11-29 09:26:52'),(9,'896371991X','?쒖슱???섑샇?좎씠 ?덉뿀????,'?댁닔??(吏???','?덊뙆??곸긽(?뚮?誘몃뵒??','?⑤뱾? 紐?蹂대뒗 嫄?議곌툑 ??蹂?以??꾨뒗 媛뺤?吏???깅퀎???섏씠????紐⑤Ⅴ寃좉퀬 洹몄? ?숆렇? ?덉쓣 媛吏??꾪뿀???곷떞?뚯뿉???댁찈???뚮컮瑜??곌쾶 ?섎뒗??.. ?④컰 愿대Ъ怨?洹?좉낵 ?섑샇?좊뱾???ㅼ뿁???몄긽. ?좊뱾???ㅻ윭吏怨?蹂?섎뒗??臾댁뾿??吏耳쒖빞 ?좉퉴?','https://image.aladin.co.kr/product/29452/75/coversum/896371991x_1.jpg',448,'援?궡?꾩꽌>?뚯꽕/???ш끝>?먰?吏/?섏긽臾명븰>?쒓뎅?먰?吏/?섏긽?뚯꽕',NULL,'2025-11-29 15:41:03','2025-11-29 15:41:03'),(10,'K122039199','?ㅼ뿭?섎뒗 留먮뱾 - ?⑹꽍???먯꽭??,'?⑹꽍??(吏???','遺곷떎','?以묒뿉寃?移쒓렐?섍쾶 ? ?용뒗 ?ш린諛쒕엫??踰덉뿭?쇰줈 ???뚮젮吏??⑹꽍?ш? ?대쾲?먮뒗 ?곹솕媛 ?꾨땶 ?꾩떎 ?멸퀎瑜?踰덉뿭?쒕떎. ?ㅻ뒛???곕━???쒕줈??留먯쓣 臾몄젣?놁씠 ?댄빐?섎ŉ ?뚰넻?섍퀬 ?덉쓣源? ?⑹꽍??踰덉뿭媛???좉컙 ?딆삤??븯??留먮뱾?뗭? 踰덉뿭媛???쒖꽑?먯꽌 議곌툑 ???덈??섍쾶 諛붾씪蹂??쇨낵 ?쇱긽 ???ㅼ뿭?ㅼ뿉 ????댁빞湲곕떎.','https://image.aladin.co.kr/product/36422/36/coversum/k122039199_1.jpg',280,'援?궡?꾩꽌>?먯꽭???쒓뎅?먯꽭??,NULL,'2025-11-30 10:28:13','2025-11-30 10:28:13'),(11,'K452031542','?곕━??泥좏븰??????대뒓 ?뺣룄 ?뚭퀬 ?덈떎怨??앷컖?쒕떎 - 紐⑤Ⅴ吏??딆?留? ???꾨뒗 寃껊룄 ?꾨땶 寃껊뱾?????泥좏븰 媛쒕뀗 ?볤린','?띿???(吏???','遺곸뿏??,'泥좏븰 ?곌뎄?먯씠???롮뭅瑜대쭏 ?대━?ㅳ? ?롮????뺤썝?륁쑝濡?二쇰ぉ諛쏆? ?뚯꽕媛 ?띿??깆씠 泥??몃Ц?쒕줈 ?뚯븘?붾떎. ?쇱긽 ??媛먯젙怨?寃쏀뿕???좊?濡?泥좏븰????대궡硫? ?낆옄瑜??대졄吏 ?딄퀬 ?λ?濡쒖슫 ?ъ쑀???μ쑝濡??대걟?? ?곸젅???몄슜怨??댁꽍???뷀빐 泥좏븰??源딆씠瑜??좎??섎㈃?쒕룄 遺???놁씠 ?ㅺ?媛???먯씠 ?뱀쭠?대떎.','https://image.aladin.co.kr/product/37297/20/coversum/k452031542_1.jpg',364,'援?궡?꾩꽌>?몃Ц??援먯뼇 ?몃Ц??,NULL,'2025-11-30 11:14:59','2025-11-30 11:14:59'),(12,'K442831368','誘몄?諛쏆쓣 ?⑷린 (200留?遺 湲곕뀗 ?ㅽ럹???먮뵒?? - ?먯쑀濡?퀬 ?됰났???띠쓣 ?꾪븳 ?꾨뱾?ъ쓽 媛瑜댁묠','湲곗떆誘??댁튂濡? 怨좉? ?꾨??耳 (吏???, ?꾧꼍??(??릿??, 源?뺤슫 (媛먯닔)','?명뵆猷⑥뿏??二?','?먯쑀濡쒖썙吏??⑷린, ?됰쾾?댁쭏 ?⑷린 洹몃━怨??섎??諛쏆쓣 ?⑷린?숆퉴吏, ?먯쑀濡?퀬 ?됰났???띠쓣 ?꾪븳 ?꾨뱾?ъ쓽 媛瑜댁묠???섏쿋?숈옄? 泥?뀈????붴??뺤떇?쇰줈 ??뼱, ?섏뼱?산쾶 ?됰났???몄깮????寃껋씤媛??숇씪???멸컙 蹂몄뿰??吏덈Ц???쎄퀬 紐낆풄???대떟???쒖떆?댁???','https://image.aladin.co.kr/product/30782/55/coversum/k442831368_1.jpg',340,'援?궡?꾩꽌>?몃Ц???щ━???뺤떊遺꾩꽍??援먯뼇 ?щ━??,NULL,'2025-11-30 16:48:19','2025-11-30 16:48:19'),(13,'8982814477','?곌툑?좎궗','?뚯슱濡?肄붿뿕猷?(吏???, 理쒖젙??(??릿??','臾명븰?숇꽕','?몄긽???먮（?먮（ ?ы뻾?섍린 ?꾪빐 ?묒튂湲곌? ??泥?뀈 ?고떚?꾧퀬??\'?먯븘???좏솕\' 李얘린 ?ы뻾?? ?먯무 ?깅뵳?섍쾶 蹂댁씪 ???덈뒗 ?쒕ぉ怨쇰뒗 ?щ━ 媛꾧껐?섍퀬 寃쎌풄???몄뼱?ㅻ줈 ?곗뿬 ?덉뼱?? 臾쇱씠 ?섎윭媛???섏썡?섍쾶 ?쏀엳???묓뭹?대떎.','https://image.aladin.co.kr/product/30/73/coversum/8982814477_3.jpg',278,'援?궡?꾩꽌>?뚯꽕/???ш끝>?ㅽ럹??以묐궓誘몄냼??,NULL,'2025-11-30 17:08:10','2025-11-30 17:08:10'),(14,'K252830652','?섎????≫솕?먯쓽 湲곗쟻 (臾댁꽑)','?덇??쒕끂 寃뚯씠怨?(吏???, ?묒쑄??(??릿??','?꾨?臾명븰','?덇??쒕끂 寃뚯씠怨좎쓽 媛??寃쎌씠濡쒖슫 ??쒖옉 ?롫굹誘몄빞 ?≫솕?먯쓽 湲곗쟻?륁씠 援?궡 異쒓컙 10二쇰뀈??留욎븘 臾댁꽑 蹂닿툒?먯쑝濡?諛쒓컙?쒕떎. 珥덊뙋 ?쒖???媛먮룞??洹몃?濡??댁븘??臾댁꽑?먯? ?ㅼ냼 臾닿쾶媛??덉뿀???묒옣?먭낵 ?ㅻⅤ寃??꾧뎄??媛蹂띻쾶 ?ㅺ퀬 ?ㅻ땲硫??쎌쓣 ???덈룄濡??덈떎.','https://image.aladin.co.kr/product/30768/99/coversum/k252830652_2.jpg',456,'援?궡?꾩꽌>?뚯꽕/???ш끝>?쇰낯?뚯꽕>1950?꾨? ?댄썑 ?쇰낯?뚯꽕',NULL,'2025-11-30 17:08:45','2025-11-30 17:08:45'),(15,'8965424879','10??留뚯뿉 ?앸궡???댁빱???좎씡?ㅽ뵾???좎뒪) - 理쒖떊 湲곗텧 ?꾨꼍 諛섏쁺?ｍ븳 沅뚯쑝濡??좎뒪 怨좊뱷???먯닔 ?ъ꽦?ｋТ猷??⑤씪???ㅼ쟾紐⑥쓽怨좎궗+臾대즺 援먯옱 MP3','?댁빱?ㅼ뼱?숈뿰援ъ냼 (?????','?댁빱?ㅼ뼱?숈뿰援ъ냼(Hackers)','媛??좏삎留덈떎 ?④퀎蹂?????꾨왂???쒖떆??臾몄젣 ?좏삎???곕Ⅸ ?듬? ?명븯?곕? ?뚯븙?????덈떎. ?좏삎蹂꾨줈 ?듯엺 ?꾨왂??臾몄젣???곸슜????대낫硫??대뼡 臾몄젣媛 ?섏????뱁솴?섏? ?딄퀬 ?꾨왂???쒖슜?????덈떎.','https://image.aladin.co.kr/product/29533/96/coversum/s965424879_1.jpg',388,'援?궡?꾩꽌>?멸뎅???좎씡>?좎씡 Speaking',NULL,'2025-12-01 19:37:08','2025-12-01 19:37:08');
/*!40000 ALTER TABLE `books` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flyway_schema_history`
--

DROP TABLE IF EXISTS `flyway_schema_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flyway_schema_history` (
  `installed_rank` int NOT NULL,
  `version` varchar(50) DEFAULT NULL,
  `description` varchar(200) NOT NULL,
  `type` varchar(20) NOT NULL,
  `script` varchar(1000) NOT NULL,
  `checksum` int DEFAULT NULL,
  `installed_by` varchar(100) NOT NULL,
  `installed_on` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `execution_time` int NOT NULL,
  `success` tinyint(1) NOT NULL,
  PRIMARY KEY (`installed_rank`),
  KEY `flyway_schema_history_s_idx` (`success`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flyway_schema_history`
--

LOCK TABLES `flyway_schema_history` WRITE;
/*!40000 ALTER TABLE `flyway_schema_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `flyway_schema_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `memo`
--

DROP TABLE IF EXISTS `memo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `book_id` bigint NOT NULL,
  `page_number` int NOT NULL,
  `content` text NOT NULL,
  `memo_start_time` timestamp NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_memo_user_book` (`user_id`,`book_id`),
  KEY `idx_memo_created_at` (`created_at`),
  KEY `idx_memo_page_number` (`book_id`,`page_number`),
  KEY `idx_memo_memo_start_time` (`memo_start_time`),
  CONSTRAINT `memo_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `memo_ibfk_2` FOREIGN KEY (`book_id`) REFERENCES `user_books` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `memo`
--

LOCK TABLES `memo` WRITE;
/*!40000 ALTER TABLE `memo` DISABLE KEYS */;
/*!40000 ALTER TABLE `memo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `memo_tags`
--

DROP TABLE IF EXISTS `memo_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memo_tags` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `memo_id` bigint NOT NULL,
  `tag_id` bigint NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_memo_tag` (`memo_id`,`tag_id`),
  KEY `idx_memo_tags_memo` (`memo_id`),
  KEY `idx_memo_tags_tag` (`tag_id`),
  CONSTRAINT `memo_tags_ibfk_1` FOREIGN KEY (`memo_id`) REFERENCES `memo` (`id`) ON DELETE CASCADE,
  CONSTRAINT `memo_tags_ibfk_2` FOREIGN KEY (`tag_id`) REFERENCES `tags` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `memo_tags`
--

LOCK TABLES `memo_tags` WRITE;
/*!40000 ALTER TABLE `memo_tags` DISABLE KEYS */;
/*!40000 ALTER TABLE `memo_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `token` varchar(100) NOT NULL,
  `expires_at` timestamp NOT NULL,
  `used` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `idx_password_reset_tokens_token` (`token`),
  KEY `idx_password_reset_tokens_user_id` (`user_id`),
  KEY `idx_password_reset_tokens_expires_at` (`expires_at`),
  CONSTRAINT `password_reset_tokens_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
INSERT INTO `password_reset_tokens` VALUES (1,2,'02b2e568-cd42-491f-acd4-f9866b173e23','2025-10-12 04:58:37',1,'2025-10-12 04:53:37');
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refresh_tokens`
--

DROP TABLE IF EXISTS `refresh_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refresh_tokens` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `device_id` varchar(255) NOT NULL,
  `token` text NOT NULL,
  `expires_at` timestamp NOT NULL,
  `revoked` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_refresh_tokens_user_device` (`user_id`,`device_id`),
  KEY `idx_refresh_tokens_revoked_expires` (`revoked`,`expires_at`),
  CONSTRAINT `refresh_tokens_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=80 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refresh_tokens`
--

LOCK TABLES `refresh_tokens` WRITE;
/*!40000 ALTER TABLE `refresh_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `refresh_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tags`
--

DROP TABLE IF EXISTS `tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tags` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `category` enum('TYPE','TOPIC') NOT NULL,
  `code` varchar(50) NOT NULL,
  `sort_order` int NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `idx_tags_category` (`category`),
  KEY `idx_tags_code` (`code`),
  KEY `idx_tags_category_sort` (`category`,`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tags`
--

LOCK TABLES `tags` WRITE;
/*!40000 ALTER TABLE `tags` DISABLE KEYS */;
/*!40000 ALTER TABLE `tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_books`
--

DROP TABLE IF EXISTS `user_books`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_books` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `book_id` bigint NOT NULL,
  `category` enum('ToRead','Reading','AlmostFinished','Finished') NOT NULL,
  `category_manually_set` tinyint(1) NOT NULL DEFAULT '0',
  `expectation` varchar(500) DEFAULT NULL,
  `reading_start_date` date DEFAULT NULL,
  `reading_progress` int DEFAULT NULL,
  `purchase_type` enum('PURCHASE','RENTAL') DEFAULT NULL,
  `reading_finished_date` date DEFAULT NULL,
  `rating` int DEFAULT NULL,
  `review` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_book` (`user_id`,`book_id`),
  KEY `book_id` (`book_id`),
  KEY `idx_user_books_category` (`category`),
  KEY `idx_user_books_created_at` (`created_at`),
  KEY `idx_user_books_category_manually_set` (`category_manually_set`),
  CONSTRAINT `user_books_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_books_ibfk_2` FOREIGN KEY (`book_id`) REFERENCES `books` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_books`
--

LOCK TABLES `user_books` WRITE;
/*!40000 ALTER TABLE `user_books` DISABLE KEYS */;
INSERT INTO `user_books` VALUES (6,2,3,'Reading',1,NULL,'2025-11-28',150,'PURCHASE',NULL,NULL,NULL,'2025-11-28 00:41:03','2025-11-28 01:12:29'),(12,4,7,'Finished',1,'?ы뵆 寃?媛숇떎','2025-11-29',216,'PURCHASE','2025-11-30',4,'?ㅼ뿴','2025-11-29 07:56:24','2025-11-29 07:57:57'),(13,4,10,'Finished',1,NULL,'2025-11-20',280,'RENTAL','2025-11-30',5,'踰덉뿭媛??梨낅룄 ???곕꽕 議댁왋','2025-11-30 01:28:13','2025-11-30 02:10:21'),(14,4,11,'Reading',1,'?щ컡?대낫?ъ꽌 ?쎌쑝?ㅺ퀬 吏몃젮蹂대뒗 以?,'2025-11-30',1,'RENTAL',NULL,NULL,NULL,'2025-11-30 02:14:59','2025-11-30 02:15:30'),(15,4,12,'AlmostFinished',1,NULL,'2025-11-27',300,NULL,NULL,NULL,NULL,'2025-11-30 07:48:20','2025-11-30 07:48:20'),(16,4,13,'Reading',1,NULL,'2025-11-20',10,NULL,NULL,NULL,NULL,'2025-11-30 08:08:10','2025-12-01 03:36:34'),(17,4,14,'Reading',1,'議댁왋',NULL,50,NULL,NULL,NULL,NULL,'2025-11-30 08:08:45','2025-12-01 03:27:47'),(18,4,15,'Reading',1,NULL,'2025-12-01',150,'RENTAL',NULL,NULL,NULL,'2025-12-01 10:37:08','2025-12-01 10:37:48');
/*!40000 ALTER TABLE `user_books` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_devices`
--

DROP TABLE IF EXISTS `user_devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_devices` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `device_id` varchar(255) NOT NULL,
  `device_name` varchar(100) NOT NULL,
  `platform` enum('WEB','ANDROID','IOS') NOT NULL,
  `last_seen_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_device` (`user_id`,`device_id`),
  KEY `idx_user_devices_user_device` (`user_id`,`device_id`),
  CONSTRAINT `user_devices_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=79 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_devices`
--

LOCK TABLES `user_devices` WRITE;
/*!40000 ALTER TABLE `user_devices` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `login_id` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `name` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('USER','ADMIN') NOT NULL DEFAULT 'USER',
  `status` enum('ACTIVE','LOCKED','DELETED') NOT NULL DEFAULT 'ACTIVE',
  `failed_login_count` int NOT NULL DEFAULT '0',
  `last_login_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `login_id` (`login_id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_users_login_id` (`login_id`),
  KEY `idx_users_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (2,'dpsk1515','dpsk1515@naver.com','諛뺤삁??,'$2a$10$VbPiIixga6XBLMym766bSO4ixsYVbBnzDD8XGn3uvD9jOUL9hqYx2','USER','ACTIVE',0,'2025-11-28 22:54:31','2025-10-12 03:39:02','2025-11-28 22:54:35'),(4,'user1','user1@gmail.com','user one','$2a$10$d97SLlg8hCaO3aOi40kRK.HRyHWdj6v74yBMNqEffr0gzjH0eQ/yi','USER','ACTIVE',0,'2025-12-02 02:33:44','2025-11-28 23:16:56','2025-12-02 02:33:44');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-07 17:08:38
